
            body {
<<<<<<< Updated upstream
            background-color: #000000;
            color: #ffffff;
=======
            background-color: #011627;
            color: #d6deeb;
>>>>>>> Stashed changes
            }

            form {
            background-color: #383843;
            border-radius: 8px;
            }

            button {
<<<<<<< Updated upstream
            background-color: #ffffff;
            border-radius: 8px;
=======
            background-color: #DD6B20;
            border-radius: 0px;
>>>>>>> Stashed changes
            }
        