
            body {
            background: #146ff8;
            color: #fff;
            }

            form {
            background: #fff;
            border-radius: 10px;
            color: #666a73;
            }

            button {
            background: #146ff8;
            border-radius: 0;
            color: #fff;
            }
        