@import"https://github.githubassets.com/assets/gist-embed-4ac6018bcc05457cde2f66d2e7299d11.css";
@import"https://fonts.googleapis.com/icon?family=Material+Icons";

input[type=range][data-v-c15ea89e]::-ms-track {
 height: 4px;
 width: 100%;
 cursor: pointer;
 border-radius: 2px;
 background: transparent;
 border: solid transparent;
 color: transparent
}

@-webkit-keyframes cursorBlink {
 0% {
  border-right-color: initial
 }

 to {
  border-right-color: transparent
 }
}

@keyframes cursorBlink {
 0% {
  border-right-color: initial
 }

 to {
  border-right-color: transparent
 }
}

@-webkit-keyframes codeCursorBlink {
 0% {
  opacity: 0
 }

 to {
  opacity: 1
 }
}

@keyframes codeCursorBlink {
 0% {
  opacity: 0
 }

 to {
  opacity: 1
 }
}