.cl-post-body code {
 font-family: SFMono-Regular, Menlo, Consolas, PT Mono, Liberation Mono, Courier, monospace;
 line-height: normal;
 background: hsla(44, 6%, 50%, .15);
 color: #eb5757;
 border-radius: 3px;
 font-size: 85% !important;
 padding: .2em .4em
}

.cl-post-body a {
 color: #0070f3;
 text-decoration: none
}