@keyframes luma-rotator {
 0% {
  transform: rotate(0deg)
 }

 to {
  transform: rotate(270deg)
 }
}

@keyframes luma-dash {
 0% {
  stroke-dashoffset: 187
 }

 50% {
  stroke-dashoffset: 46.75;
  transform: rotate(135deg)
 }

 to {
  stroke-dashoffset: 187;
  transform: rotate(450deg)
 }
}

.luma-checkout--button,
.zmurl-checkout--button {
 background-color: #123;
 border: none;
 border-radius: 100px;
 color: #fff;
 cursor: pointer;
 font-size: 1rem;
 font-weight: 500;
 padding: .5rem 1rem;
 text-decoration: none;
 transition: all .3s cubic-bezier(.4, 0, .2, 1)
}

.luma-checkout--button:hover,
.zmurl-checkout--button:hover {
 background-color: #234;
 box-shadow: 0 3px 8px rgba(34, 51, 68, .2);
 color: #fff
}

.luma-checkout--overlay,
.zmurl-checkout--overlay {
 align-items: center;
 background: transparent;
 display: flex;
 height: 100%;
 justify-content: center;
 left: 0;
 overflow: hidden;
 position: fixed;
 top: 0;
 transition: all .3s cubic-bezier(.4, 0, .2, 1);
 width: 100%;
 z-index: 99999
}

.luma-checkout--overlay.luma-show,
.luma-checkout--overlay.zmurl-show,
.zmurl-checkout--overlay.luma-show,
.zmurl-checkout--overlay.zmurl-show {
 -webkit-backdrop-filter: blur(5px);
 backdrop-filter: blur(5px);
 background: rgba(75, 101, 132, .467);
 opacity: 1
}

.luma-checkout--overlay .luma-checkout--close-btn,
.luma-checkout--overlay .zmurl-checkout--close-btn,
.zmurl-checkout--overlay .luma-checkout--close-btn,
.zmurl-checkout--overlay .zmurl-checkout--close-btn {
 background: 0 0;
 background-color: hsla(0, 0%, 100%, .533);
 border: none;
 border-radius: 100px;
 cursor: pointer;
 line-height: 0;
 padding: .25rem;
 position: absolute;
 right: 1rem;
 top: 1rem;
 transition: all .3s cubic-bezier(.4, 0, .2, 1);
 z-index: 100
}

.luma-checkout--overlay .luma-checkout--by,
.luma-checkout--overlay .zmurl-checkout--by,
.zmurl-checkout--overlay .luma-checkout--by,
.zmurl-checkout--overlay .zmurl-checkout--by {
 bottom: 1rem;
 color: #717d8b;
 font-size: .8rem;
 left: 0;
 position: absolute;
 text-align: center;
 width: 100%
}

.luma-checkout--overlay .luma-checkout--by a,
.luma-checkout--overlay .zmurl-checkout--by a,
.zmurl-checkout--overlay .luma-checkout--by a,
.zmurl-checkout--overlay .zmurl-checkout--by a {
 color: #717d8b;
 font-weight: 700;
 text-decoration: none;
 transition: all .3s cubic-bezier(.4, 0, .2, 1)
}

.luma-checkout--overlay .luma-checkout--by a:hover,
.luma-checkout--overlay .zmurl-checkout--by a:hover,
.zmurl-checkout--overlay .luma-checkout--by a:hover,
.zmurl-checkout--overlay .zmurl-checkout--by a:hover {
 color: #123
}