hr {
 height: 0;
 color: inherit;
 border-top-width: 1px
}

a {
 color: inherit;
 text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
 font-family: inherit;
 font-size: 100%;
 font-weight: inherit;
 line-height: inherit;
 color: inherit;
 margin: 0;
 padding: 0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
 opacity: 1;
 color: #9ca3af
}

input::-moz-placeholder,
textarea::-moz-placeholder {
 opacity: 1;
 color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
 opacity: 1;
 color: #9ca3af
}

input::placeholder,
textarea::placeholder {
 opacity: 1;
 color: #9ca3af
}

.theme-light-gray {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--gray-700);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--gray-000);
 --background-interactive-primary-hover: var(--gray-400);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-gray {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--gray-800);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--gray-600);
 --background-interactive-primary-hover: var(--gray-500);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-gray {
 --text-primary: var(--gray-000);
 --text-primary-rgb: 255, 255, 255;
 --text-secondary: var(--gray-600);
 --text-interactive-primary: var(--gray-000);
 --border-primary: var(--gray-000);
 --border-secondary: rgba(255, 255, 255, .2);
 --background-primary: var(--gray-900);
 --background-interactive-primary-hover: var(--gray-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-red {
 --text-primary: var(--blue-600);
 --text-primary-rgb: 0, 0, 255;
 --text-secondary: var(--blue-500);
 --text-interactive-primary: var(--blue-600);
 --border-primary: var(--blue-600);
 --border-secondary: rgba(0, 0, 255, .1);
 --background-primary: var(--red-200);
 --background-interactive-primary-hover: var(--red-400);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-red {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--red-900);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--red-700);
 --background-interactive-primary-hover: var(--red-500);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-red {
 --text-primary: var(--blue-200);
 --text-primary-rgb: 203, 220, 255;
 --text-secondary: var(--blue-300);
 --text-interactive-primary: var(--blue-200);
 --border-primary: var(--blue-200);
 --border-secondary: rgba(203, 220, 255, .2);
 --background-primary: var(--red-900);
 --background-interactive-primary-hover: var(--red-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-green {
 --text-primary: var(--magenta-700);
 --text-primary-rgb: 197, 0, 197;
 --text-secondary: var(--magenta-800);
 --text-interactive-primary: var(--magenta-700);
 --border-primary: var(--magenta-700);
 --border-secondary: rgba(197, 0, 197, .1);
 --background-primary: var(--green-200);
 --background-interactive-primary-hover: var(--green-400);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-green {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--green-900);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--green-600);
 --background-interactive-primary-hover: var(--green-500);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-green {
 --text-primary: var(--magenta-400);
 --text-primary-rgb: 255, 139, 255;
 --text-secondary: var(--magenta-300);
 --text-interactive-primary: var(--magenta-400);
 --border-primary: var(--magenta-400);
 --border-secondary: rgba(255, 139, 255, .2);
 --background-primary: var(--green-900);
 --background-interactive-primary-hover: rgba(0, 0, 0, .2);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-blue {
 --text-primary: var(--yellow-900);
 --text-primary-rgb: 52, 51, 34;
 --text-secondary: var(--yellow-800);
 --text-interactive-primary: var(--yellow-900);
 --border-primary: var(--yellow-900);
 --border-secondary: rgba(52, 51, 34, .2);
 --background-primary: var(--blue-100);
 --background-interactive-primary-hover: var(--blue-200);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-blue {
 --text-primary: var(--gray-000);
 --text-primary-rgb: 255, 255, 255;
 --text-secondary: var(--blue-300);
 --text-interactive-primary: var(--gray-000);
 --border-primary: var(--gray-000);
 --border-secondary: rgba(255, 255, 255, .2);
 --background-primary: var(--blue-600);
 --background-interactive-primary-hover: var(--blue-700);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-blue {
 --text-primary: var(--yellow-400);
 --text-primary-rgb: 255, 246, 57;
 --text-secondary: var(--yellow-700);
 --text-interactive-primary: var(--yellow-400);
 --border-primary: var(--yellow-400);
 --border-secondary: rgba(255, 246, 57, .2);
 --background-primary: var(--blue-900);
 --background-interactive-primary-hover: var(--blue-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-yellow {
 --text-primary: var(--blue-600);
 --text-primary-rgb: 0, 0, 255;
 --text-secondary: var(--blue-500);
 --text-interactive-primary: var(--blue-600);
 --border-primary: var(--blue-600);
 --border-secondary: rgba(0, 0, 255, .2);
 --background-primary: var(--yellow-100);
 --background-interactive-primary-hover: var(--yellow-400);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-yellow {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--gray-600);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--yellow-400);
 --background-interactive-primary-hover: var(--yellow-500);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-yellow {
 --text-primary: var(--blue-100);
 --text-primary-rgb: 229, 241, 255;
 --text-secondary: var(--blue-300);
 --text-interactive-primary: var(--blue-100);
 --border-primary: var(--blue-100);
 --border-secondary: rgba(229, 241, 255, .2);
 --background-primary: var(--yellow-900);
 --background-interactive-primary-hover: var(--yellow-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-orange {
 --text-primary: var(--blue-600);
 --text-primary-rgb: 0, 0, 255;
 --text-secondary: var(--blue-500);
 --text-interactive-primary: var(--blue-600);
 --border-primary: var(--blue-600);
 --border-secondary: rgba(0, 0, 255, .2);
 --background-primary: var(--orange-200);
 --background-interactive-primary-hover: var(--orange-300);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-orange {
 --text-primary: var(--blue-700);
 --text-primary-rgb: 4, 4, 172;
 --text-secondary: var(--blue-800);
 --text-interactive-primary: var(--blue-700);
 --border-primary: var(--blue-700);
 --border-secondary: rgba(4, 4, 172, .2);
 --background-primary: var(--orange-600);
 --background-interactive-primary-hover: var(--orange-500);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-orange {
 --text-primary: var(--blue-300);
 --text-primary-rgb: 175, 193, 255;
 --text-secondary: var(--blue-100);
 --text-interactive-primary: var(--blue-300);
 --border-primary: var(--blue-300);
 --border-secondary: rgba(229, 241, 255, .2);
 --background-primary: var(--orange-900);
 --background-interactive-primary-hover: var(--orange-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-brown {
 --text-primary: var(--blue-600);
 --text-primary-rgb: 0, 0, 255;
 --text-secondary: var(--blue-800);
 --text-interactive-primary: var(--blue-600);
 --border-primary: var(--blue-600);
 --border-secondary: rgba(0, 0, 255, .2);
 --background-primary: var(--brown-200);
 --background-interactive-primary-hover: var(--brown-300);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-brown {
 --text-primary: var(--blue-100);
 --text-primary-rgb: 229, 241, 255;
 --text-secondary: var(--blue-050);
 --text-interactive-primary: var(--blue-100);
 --border-primary: var(--blue-100);
 --border-secondary: rgba(244, 251, 255, .2);
 --background-primary: var(--brown-600);
 --background-interactive-primary-hover: var(--brown-700);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-brown {
 --text-primary: var(--blue-300);
 --text-primary-rgb: 175, 193, 255;
 --text-secondary: var(--blue-400);
 --text-interactive-primary: var(--blue-300);
 --border-primary: var(--blue-300);
 --border-secondary: rgba(175, 193, 255, .2);
 --background-primary: var(--brown-900);
 --background-interactive-primary-hover: var(--brown-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-magenta {
 --text-primary: var(--green-800);
 --text-primary-rgb: 45, 113, 42;
 --text-secondary: var(--green-900);
 --text-interactive-primary: var(--green-800);
 --border-primary: var(--green-800);
 --border-secondary: rgba(45, 113, 42, .2);
 --background-primary: var(--magenta-200);
 --background-interactive-primary-hover: var(--magenta-100);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-magenta {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--green-900);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--magenta-500);
 --background-interactive-primary-hover: var(--magenta-400);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-magenta {
 --text-primary: var(--green-600);
 --text-primary-rgb: 81, 218, 76;
 --text-secondary: var(--green-700);
 --text-interactive-primary: var(--green-600);
 --border-primary: var(--green-600);
 --border-secondary: rgba(81, 218, 76, .2);
 --background-primary: var(--magenta-900);
 --background-interactive-primary-hover: var(--magenta-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-violet {
 --text-primary: var(--green-800);
 --text-primary-rgb: 45, 113, 42;
 --text-secondary: var(--green-900);
 --text-interactive-primary: var(--green-800);
 --border-primary: var(--green-800);
 --border-secondary: rgba(45, 113, 42, .2);
 --background-primary: var(--violet-200);
 --background-interactive-primary-hover: var(--violet-100);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-violet {
 --text-primary: var(--green-400);
 --text-primary-rgb: 166, 255, 163;
 --text-secondary: var(--green-200);
 --text-interactive-primary: var(--green-400);
 --border-primary: var(--green-400);
 --border-secondary: rgba(166, 255, 163, .2);
 --background-primary: var(--violet-700);
 --background-interactive-primary-hover: var(--violet-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-violet {
 --text-primary: var(--green-500);
 --text-primary-rgb: 124, 241, 120;
 --text-secondary: var(--green-700);
 --text-interactive-primary: var(--green-500);
 --border-primary: var(--green-500);
 --border-secondary: rgba(124, 241, 120, .2);
 --background-primary: var(--violet-900);
 --background-interactive-primary-hover: var(--violet-800);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-light-cyan {
 --text-primary: var(--orange-800);
 --text-primary-rgb: 131, 54, 0;
 --text-secondary: var(--orange-900);
 --text-interactive-primary: var(--orange-800);
 --border-primary: var(--orange-800);
 --border-secondary: rgba(131, 54, 0, .2);
 --background-primary: var(--cyan-200);
 --background-interactive-primary-hover: var(--cyan-100);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-mid-cyan {
 --text-primary: var(--gray-900);
 --text-primary-rgb: 0, 0, 0;
 --text-secondary: var(--orange-900);
 --text-interactive-primary: var(--gray-900);
 --border-primary: var(--gray-900);
 --border-secondary: rgba(0, 0, 0, .2);
 --background-primary: var(--cyan-600);
 --background-interactive-primary-hover: var(--cyan-300);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

.theme-dark-cyan {
 --text-primary: var(--orange-400);
 --text-primary-rgb: 255, 201, 138;
 --text-secondary: var(--orange-200);
 --text-interactive-primary: var(--orange-400);
 --border-primary: var(--orange-400);
 --border-secondary: rgba(255, 201, 138, .2);
 --background-primary: var(--cyan-900);
 --background-interactive-primary-hover: rgba(0, 0, 0, .2);
 --text-inverse: var(--background-primary);
 --border-inverse: var(--background-primary);
 --background-inverse: var(--text-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

@-webkit-keyframes spin {
 to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg)
 }
}

@keyframes spin {
 to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg)
 }
}

.text-inverse {
 color: var(--text-inverse)
}

.text-primary {
 color: var(--text-primary)
}

.text-secondary {
 color: var(--text-secondary)
}

.text-\[color\:var\(--background-primary\)\] {
 color: var(--background-primary)
}

.text-\[\#fff\],
.text-\[color\:white\] {
 --tw-text-opacity: 1;
 color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-\[var\(--text-primary\)\],
.text-\[color\:var\(--text-primary\)\] {
 color: var(--text-primary)
}

.text-\[var\(--gray-000\)\] {
 color: var(--gray-000)
}

.text-\[\#000\] {
 --tw-text-opacity: 1;
 color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-\[\#383843\] {
 --tw-text-opacity: 1;
 color: rgb(56 56 67 / var(--tw-text-opacity))
}

.text-\[color\:var\(--blue-500\)\] {
 color: var(--blue-500)
}

.text-\[color\:var\(--gray-800\)\] {
 color: var(--gray-800)
}

.text-\[color\:var\(--magenta-800\)\] {
 color: var(--magenta-800)
}

.text-\[color\:var\(--green-700\)\] {
 color: var(--green-700)
}

.text-\[\#8e8ea0\],
.text-\[\#8E8EA0\] {
 --tw-text-opacity: 1;
 color: rgb(142 142 160 / var(--tw-text-opacity))
}

.text-\[\#B1751B\] {
 --tw-text-opacity: 1;
 color: rgb(177 117 27 / var(--tw-text-opacity))
}

.text-\[\#D9D9E3\] {
 --tw-text-opacity: 1;
 color: rgb(217 217 227 / var(--tw-text-opacity))
}

.text-\[\#565869\] {
 --tw-text-opacity: 1;
 color: rgb(86 88 105 / var(--tw-text-opacity))
}

.text-\[\#10A37F\] {
 --tw-text-opacity: 1;
 color: rgb(16 163 127 / var(--tw-text-opacity))
}

.text-\[\#999999\] {
 --tw-text-opacity: 1;
 color: rgb(153 153 153 / var(--tw-text-opacity))
}

.text-\[color\:var\(--gray-000\)\] {
 color: var(--gray-000)
}

.text-\[color\:var\(--blue-200\)\] {
 color: var(--blue-200)
}

.text-\[color\:var\(--green-600\)\] {
 color: var(--green-600)
}

.text-\[var\(--gray-900\)\] {
 color: var(--gray-900)
}

.text-\[rgba\(0\,0\,0\,0\.5\)\] {
 color: #00000080
}

.text-\[color\:var\(--red-700\)\] {
 color: var(--red-700)
}

.text-\[color\:var\(--violet-200\)\] {
 color: var(--violet-200)
}

.text-\[\#51da4c\] {
 --tw-text-opacity: 1;
 color: rgb(81 218 76 / var(--tw-text-opacity))
}

.error {
 color: red
}

@-webkit-keyframes loaderAnimation {
 0% {
  background-position: -1000px 0
 }

 to {
  background-position: 1000px 0
 }
}

@keyframes loaderAnimation {
 0% {
  background-position: -1000px 0
 }

 to {
  background-position: 1000px 0
 }
}

@keyframes spin {
 0% {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
 }

 to {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg)
 }
}

.hover\:text-primary:hover {
 color: var(--text-primary)
}

.hover\:text-\[\#fff\]:hover {
 --tw-text-opacity: 1;
 color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:text-\[color\:var\(--gray-000\)\]:hover {
 color: var(--gray-000)
}

.hover\:text-inverse:hover {
 color: var(--text-inverse)
}

.hover\:text-\[var\(--gray-900\)\]:hover {
 color: var(--gray-900)
}

.hover\:text-\[white\]:hover {
 --tw-text-opacity: 1;
 color: rgb(255 255 255 / var(--tw-text-opacity))
}

.active\:text-primary:active {
 color: var(--text-primary)
}

.active\:text-inverse:active {
 color: var(--text-inverse)
}

.group:hover .group-hover\:text-primary {
 color: var(--text-primary)
}

.ui-form input[type=text]+span,
.ui-form input[type=number]+span,
.ui-form input[type=email]+span,
.ui-form input[type=tel]+span,
.ui-form input[type=url]+span,
.ui-form input[type=search]+span,
.ui-form textarea+span,
.ui-form select+span {
 font-family: var(--sans);
 font-size: .75rem;
 line-height: 130%;
 letter-spacing: 0;
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 margin-top: .5rem;
 color: var(--text-secondary)
}

.ui-form button[type=submit],
.ui-form button.submit {
 display: inline-block;
 border-width: 1px;
 border-color: var(--border-primary);
 background-color: var(--background-inverse);
 padding: .4375rem .75rem .5625rem;
 color: var(--text-inverse)
}

.ui-form button[type=submit]:hover,
.ui-form button.submit:hover,
.ui-form button[type=submit]:active,
.ui-form button.submit:active {
 border-color: var(--border-primary);
 background-color: var(--background-primary);
 color: var(--text-primary)
}

::-moz-selection {
 color: var(--background-primary);
 background: var(--text-primary)
}

::selection {
 color: var(--background-primary);
 background: var(--text-primary)
}

.hljs {
 color: #fff;
 background: #000000
}

.hljs-comment,
.hljs-tag {
 color: #a8a8a8
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
 color: #fff
}

.hljs-operator {
 color: #a8a8a8
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
 color: #ff4500
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
 color: #fe7600
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
 color: #ffc98a
}

.hljs-strong {
 font-weight: 700;
 color: #ffc98a
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
 color: #51da4c
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
 color: #82ffff
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
 color: #afc1ff
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
 color: #ff8bff
}

.hljs-emphasis {
 color: #ff8bff;
 font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
 color: #b67252
}